<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>电影列表</h1>
    <ul>
      <!-- 1、v-for 遍历数组 -->
      <!-- <li v-for="movie in movies">{{ movie }}</li> -->
      <!-- <li v-for="(movie, index) in movies">{{ movie }} - {{ index + 1 }}</li> -->
      <!-- 可以使用 of 作为分隔符替代 in -->
      <!-- <li v-for="movie, index of movies">{{ movie }} + {{ index }}</li> -->
      <!-- 2、v-for 遍历对象 -->
      <!-- <li v-for="(value, key, index) in info">{{ index }} - {{ key }} - {{ value }}</li> -->
      <!-- 3、在 v-for 里使用范围值 -->
      <!-- <span v-for="n in 10">{{ n }}</span> -->
      <!-- 4、数组变化侦测 -->
      <li v-for="movie in movies">{{ movie }}</li>
      <button @click="clickBtn">点击</button>
    </ul>
  </div>
  <script src="../js/vue.js"></script>
  <script>
  const app = Vue.createApp({
    data() {
      return {
        movies: ['从21世纪安全撤离', '解密', '死侍与金刚狼', '抓娃娃', '异人之下'],
        info: {
          name: '从21世纪安全撤离',
          rate: 7.6,
          director: '李阳'
        },
        numbers: [1, 2, 3, 4, 5]
      }
    },
    methods: {
      clickBtn() {
        // this.movies.push('死侍')
        // this.movies.pop()
        // this.movies.shift()
        // this.movies.unshift('死侍')
        // this.movies.sort()
        // this.movies.reverse()
        // this.movies.splice(1, 0, '死侍')
        this.movies.slice(1, 3)
        // this.movies = this.movies.slice(1, 3)
      }
    }
  })
  app.mount("#app")
  </script>
</body>
</html>