<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 1、v-model 的基本使用 -->
    <!-- <input :value="message" @input="inputChange"> -->
    <!-- <h2>{{ message }}</h2> -->
    <!-- <input v-model="message"> -->
    <!-- 2、多行文本 -->
    <!-- <label for="story">Tell us your story:</label> -->
    <!-- <p>{{ story }}</p> -->
    <!-- <textarea id="story" name="story" rows="5" cols="33" v-model="story"></textarea> -->
    <!-- 3、复选框 -->
    <!-- <input type="checkbox" id="checkbox" v-model="checked"> -->
    <!-- <label for="checkbox">{{ checked }}</label> -->
    <!-- 多选 -->
    <!-- <fieldset>
      <legend>选择你的兴趣:{{ interests }}</legend>
      <div>
        <input type="checkbox" id="coding" value="coding" v-model="interests">
        <label for="coding">编码</label>
      </div>
      <div>
        <input type="checkbox" id="music" value="music" v-model="interests">
        <label for="music">音乐</label>
      </div>
      <div>
        <input type="checkbox" id="movie" value="movie" v-model="interests">
        <label for="movie">电影</label>
      </div>
    </fieldset> -->
    <!-- 4、单选按钮 -->
    <!-- <fieldset>
      <legend>请选择首选的联系方式：{{ contact }}</legend>
      <input type="radio" id="choice1" value="email" v-model="contact">
      <label for="choice1">电子邮件</label>

      <input type="radio" id="choice2" value="phone" v-model="contact">
      <label for="choice2">电话</label>

      <input type="radio" id="choice3" value="wechat" v-model="contact">
      <label for="choice3">微信</label>
    </fieldset> -->
    <!-- 5、选择器 -->
    <!-- <div>Selected: {{ selected }}</div>
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option value="a">A</option>
      <option value="b">B</option>
      <option value="c">C</option>
    </select> -->
    <!-- v-for 动态渲染 -->
    <!-- <div>Selected: {{ selected }}</div>
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option v-for="option in options" :value="option.value">
        {{ option.text }}
      </option>
    </select> -->
    <!-- 6、修饰符 -->
    <!-- <h2>{{ message }}</h2> -->
    <!-- <input v-model.lazy="message"> -->

    <!-- <h2>{{ age }}</h2> -->
    <!-- <input v-model.number="age"> -->
    <!-- <button @click="showType">查看类型</button> -->
    
    <h2>{{ message }}</h2>
    <input v-model.trim="message">
    <button @click="showResult">查看结果</button>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          message: '',
          story: 'It was a dark and stormy night...',
          checked: false,
          interests: [],
          contact: '',
          selected: '',
          options: [
            {text: 'A', value: 'a'},
            {text: 'B', value: 'b'},
            {text: 'C', value: 'c'},
          ],
          age: 18
        }
      },
      methods: {
        inputChange(event) {
          console.log(event)
          this.message = event.target.value
        },
        showType() {
          console.log(this.age, typeof this.age);
        },
        showResult() {
          console.log(this.message);
        }
      },
    })
    app.mount('#app')
  </script>
</body>
</html>