<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 1.v-model的基本使用 -->
    <!-- <h2>{{ message }}</h2> -->
    <!-- <input :value="message" @input="event => message = event.target.value"> -->
    <!-- <input :value="message" @input="inputChange"> -->
    <!-- <input v-model="message"> -->

    <!-- 2.多行文本 -->
    <!-- <label for="feedback">请留下您的反馈:</label> -->
    <!-- <textarea id="feedback" rows="5" cols="33" v-model="feedback"></textarea> -->
    <!-- <p>您的反馈：{{ feedback }}</p>

    <!-- 3.复选框 -->
    <!-- 单选框 -->
    <!-- <label>
      <input type="checkbox" v-model="isSubscribed">
      订阅新闻通讯
    </label>
    <p>您{{isSubscribed ? "已" : "未"}}订阅新闻通讯。</p> -->

    <!-- 多选框 -->
    <!-- <fieldset>
      <legend>选择您的技能：</legend>
      <div>
        <input type="checkbox" id="html" value="HTML" v-model="skills">
        <label for="html">HTML</label>
      </div>
      <div>
        <input type="checkbox" id="css" value="CSS" v-model="skills">
        <label for="css">CSS</label>
      </div>
      <div>
        <input type="checkbox" id="javascript" value="JavaScript" v-model="skills">
        <label for="javascript">JavaScript</label>
      </div>
      <div>
        <input type="checkbox" id="vue" value="Vue" v-model="skills">
        <label for="vue">Vue</label>
      </div>
    </fieldset>
    <p>您选择的技能：{{ skills.join(', ') }}</p> -->

    <!-- 4.单选按钮 -->
    <!-- <fieldset>
      <legend>请选择首选的练习方式：{{ contact }}</legend>
      <input type="radio" id="email" value="Email" v-model="contact">
      <label for="email">电子邮箱</label>

      <input type="radio" id="phone" value="Telephone" v-model="contact">
      <label for="phone">电话</label>

      <input type="radio" id="wechat" value="WeChat" v-model="contact">
      <label for="wechat">微信</label>
    </fieldset> -->

    <!-- 5.选择器 -->
    <!-- <div>选择的国家：{{ country }}</div>
    <select v-model="country">
      <option disabled value="">请选择国家</option>
      <option value="china">中国</option>
      <option value="usa">美国</option>
      <option value="uk">英国</option>
      <option value="germany">德国</option>
    </select> -->

    <!-- v-for 动态渲染 -->
    <div>选择的国家: {{ country }}</div>
    <select v-model="country">
      <option disabled value="">请选择国家</option>
      <option v-for="option in options" :value="option.value">
        {{ option.text }}
      </option>
    </select>
  
    <!-- 6.修饰符 -->
    <!-- 使用 .lazy 修饰符 -->
    <!-- <h2>惰性输入：{{ message }}</h2> -->
    <!-- <input v-model.lazy="message" placeholder="请输入后点击其他地方"> -->

    <!-- 使用 .number 修饰符 -->
    <!-- <h2>{{ age }}</h2> -->
    <!-- <input v-model.number="age" placeholder="请输入您的年龄"> -->
    <!-- <button @click="showType">查看类型</button> -->
    
    <!-- 使用 .trim 修饰符 -->
    <!-- <h2>修剪后的消息：{{ message }}</h2> -->
    <!-- <input v-model.trim="message" placeholder="请输入消息"> -->
    <!-- <button @click="showResult">查看结果</button> -->
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          message: '',
          feedback: '',
          isSubscribed: false,
          skills: [],
          contact: '',
          country: '',
          options: [
            {text: '中国', value: 'china'},
            {text: '美国', value: 'usa'},
            {text: '英国', value: 'uk'},
            {text: '德国', value: 'germany'}
          ],
          age: 18
        }
      },
      methods: {
        inputChange(event) {
          console.log(event)
          this.message = event.target.value
        },
        showType() {
          console.log(this.age, typeof this.age);
        },
        showResult() {
          console.log(this.message);
        }
      },
    })
    app.mount('#app')
  </script>
</body>
</html>